Caching/Caching/obj/
Caching/Caching.Test/obj/
Caching/Caching.Test/bin/
Caching/API/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Caching/API/obj/
Caching/API/bin/
Caching/Caching/bin/Debug/Castle.Core.xml
Caching/Caching/bin/Debug/Castle.Windsor.xml
*.nuspec
nServiceBus/Example/packages/Microsoft.AspNet.WebApi.Tracing.4.0.0/lib/net40/System.Web.Http.Tracing.xml
nServiceBus/Example/packages/Microsoft.AspNet.WebApi.Tracing.4.0.0/ReadMe.txt
nServiceBus/Example/packages/Microsoft.AspNet.WebApi.Tracing.4.0.0/Microsoft.AspNet.WebApi.Tracing.4.0.0.nupkg
nServiceBus/Example/packages/
nServiceBus/Example/Example.ServiceBus.API/obj/
nServiceBus/Example/Example.ServiceBus.API/bin/
nServiceBus/Example/Example.ServiceBus.Contracts/bin/
nServiceBus/Example/Example.ServiceBus.Contracts/obj/
nServiceBus/Example/Example.ServiceBus.BillingContracts/obj/
nServiceBus/Example/Example.Backoffice/obj/
nServiceBus/Example/Example.Backoffice/bin/
nServiceBus/Example/Example.ServiceBus.Backend/bin/
nServiceBus/Example/Example.ServiceBus.Backend/obj/
nServiceBus/Example/Example.ServiceBus.Billing/bin/
nServiceBus/Example/Example.ServiceBus.Billing/obj/
nServiceBus/Example/Example.ServiceBus.BillingContracts/bin/
